<p id="notice"><%= notice %></p>


<h1>All Coordinators</h1>
<%= render 'course_nav' %>
asbcjbakd
   <% @coordinators.each do |coordinator| %>
  <div class="row">
    <div class="col-md-8" >

        <%= gravatar_for_coor coordinator %><br>
        <p>Coordinator name: <%= coordinator.name %></p>

        <p><%= link_to 'Destroy', coordinator, method: :delete, data: { confirm: 'Are you sure?' } %></p>
     <br><br>
    </div>
  </div>
<% end %> 



<%= link_to 'New Coordinator', new_coordinator_path %>
