<p id="notice"><%= notice %></p>


<h1>All Coordinators</h1>
<%= render 'course_nav' %>

   <% @users.each do |user| %>
  <div class="row">
    <div class="col-md-8" >

        <%= gravatar_for user %><br>
        <p>Coordinator name: <%= user.name %></p>

     <br><br>
    </div>
  </div>
<% end %>



<%= link_to 'New user', new_user_path %>
