<p id="notice"><%= notice %></p>


<h1>All Coordinators</h1>
<%= render 'course_nav' %>

   <% @users.each do |user| %>
  <div class="row">
    <div class="col-md-8" >

        <%= gravatar_for user %><br>
        <p>Coordinator name: <%= user.name %></p>
        <% if current_user.admin? && !current_user?(user) %>
            <%= link_to 'Edit', edit_user_path(user) %>
            | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
        <% end %>
     <br><br>
    </div>
  </div>
<% end %>



