


<p id="notice"><%= notice %></p>

<h1>All Courses</h1>
<%= render 'course_nav' %>



<% @courses.each do |course| %>

<div class="row">

  <div class="col-md-4" >

    <%= gravatar_for User.find(course.user_id) %>
    <%=  User.find(course.user_id).name %>


      </div><br><br>


  </div>

  <div class="col-md-8" >

      <div class="details" >
          <p>Name:  <%= link_to course.name, course %></p>
          <p>Category: <%= course.prerequisite %>
          <%= course.categories.collect {|c|
              link_to( c.name, c)}.join(", ").html_safe %></p>

          <p>Location: <%= course.locations.collect {|c|
              link_to( c.name, c)}.join(", ").html_safe %></p>
          <p> Created: <%= time_ago_in_words(course.created_at) %></p>

            <%= link_to 'Edit', edit_course_path(course) %>
            <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        </div><br><br>
        
        <% pre_like = course.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= button_to 'Unlike', course_like_path(course, pre_like), method: :delete %>
        <% else %>
          <%= button_to 'Like', course_likes_path(@courses), method: :post %>
        <% end %>
        <p><%= course.likes.count %> <%= (course.likes.count) == 1 ? 'Like' : 'Likes'%></p>
  </div>

</div>
<% end %>


