<p id="notice"><%= notice %></p>

<h1>All Courses</h1>
<%= render 'course_nav' %>

<li class="dropdown" id = "courses">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Prerequisites</th>
      <th>Category</th>
      <th>Location</th>
      <th>Created</th>
      
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>

      <tr>
        <td><%= course.name %></td>
        <td><%= course.prerequisite %> </td>
        <td><%= course.categories %></td>
        <td><%= course.location %></td>
        <td><%= course.created %></td>

        <td><%= link_to 'Show', course %></td>

        <td><%= link_to course.name, course %></td>
        <td><%= course.prerequisite %></td>
        <td><%= course.categories.collect {|c| 
            link_to( c.name, c)}.join(", ").html_safe %></td>
       
        <td><%= course.locations.collect {|c| 
            link_to( c.name, c)}.join(", ").html_safe %></td>
        <td><%= course.created %></td>

        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
</li>


<%= link_to 'New Course', new_course_path %>

