<p id="notice"><%= notice %></p>

<h1>Course</h1>

<div class="col-md-8" >

      <div class="details" >
      <p>
        <strong>Name:</strong>
        <%= @course.name %>
      </p>

      <p>
        <strong>Prerequisite:</strong>
        <%= @course.prerequisite %>
      </p>

      <p>
        <strong>Category:</strong>
        
          <% if !@course.categories.empty? %>
            <%= @course.categories.collect {|c| 
              link_to( c.name, c)}.join(", ").html_safe %>
          <% else %>
            Not added to any category yet.
          <% end %>
        
      </p>

      <p>
        <strong>Location:</strong>
        <%= @course.location %>
      </p>

      <p>
        <strong>Created:</strong>
        <%= @course.created %>
      </p>
    </div>
<% pre_like = @course.likes.find { |like| like.user_id == current_user.id} %>
        <% if pre_like %>
          <%= button_to 'Unlike', course_likes_path(@course, pre_like), method: :delete %>
        <% else %>
          <%= button_to 'Like', course_likes_path(@course), method: :post %>
<% end %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Add to Category', categories_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
