<p id="notice"><%= notice %></p>

<h1>Categories</h1>

 <% @categories.each do |category| %>
 <div class="row">
    <div class="col-md-8" >

      <div class="details" >
   
            <p>Category Name: <%= link_to category.name, category %></p>
              <p>Courses: <%= category.courses.collect {|c| 
              link_to( c.name, c)}.join(",").html_safe %></p><br>
              

              <p><%= link_to 'Edit', edit_category_path(category) %></p>
              <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div> <br><br>
  </div>
</div>
<% end %>

<%= link_to 'New Category', new_category_path %>
