<p id="notice"><%= notice %></p>

<h1>Category</h1>
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Courses:</strong>
    <% if !@category.courses.empty? %>
      <%= @category.courses.collect {|c| 
        link_to( c.name, c)}.join(",").html_safe %>
    <% else %>
      Not enrolled on any courses yet.
    <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Add courses ', courses_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
