<p id="notice"><%= notice %></p>

<h1>Courses in <%= @category.name %> </h1>

<% if @category.courses.count < 1 %>
  <h4 style="text-align: center;">No courses are allocated to this category.</h4>

<% else %>
  
    <div class="col-md-8" >
     <div class="details" >
          <p>
      <% @category.courses.each do |course| %>
          <h4><a href="/courses/<%= course.id %>/"><%= course.name %> </a></h4>
      <p>Prerequisite: <%= course.prerequisites %></p>
      <h4>Categories: <% course.categories.each do |category| %></h4>
       <h4><a href="/categories/<%= course.id %>/"><%= category.name %> </a></h4>
      <% end %>
      <% end %>



<% end %>
