<p id="notice"><%= notice %></p>

<h1>Courses scheduled in location <%= @location.name %> </h1>

<p>
  <strong>Locations:</strong>
    <% if !@location.courses.empty? %>
      <%= @location.courses.collect {|c|
        link_to( c.name, c)}.join(",").html_safe %>
    <% else %>
      No courses assigned on this room yet.
    <% end %>
</p>



<% if @location.courses.empty? %>
  <h4 style="text-align: center;">No courses are allocated to this location.</h4>

<% else %>
  <% @location.courses.each do |course| %>

  <div class="row">

    <div class="col-md-4">
      <div class="gravatardetails" >
        <%= gravatar_for User.find(course.user_id) %>
        <%=  User.find(course.user_id).name %>

        </div><br><br>
    </div>

    <div class="col-md-8" >

        <div class="details" >
            <p> <%= link_to course.name, course %></p>
            <p>Prerequisite: </p>
            <p>Category: <%= course.prerequisite %>
            <%= course.categories.collect {|c|
                link_to( c.name, c)}.join(", ").html_safe %></p>

            <p>Location: <%= course.locations.collect {|c|
                link_to( c.name, c)}.join(", ").html_safe %></p>
            <p><%= time_ago_in_words(course.created) +" ago" %></p>
            <div class="float-right" >
              <button type="button"
                id="testBtn"
                class="btn btn-success glyphicon glyphicon-thumbs-up "
                      data-loading-text=" ... ">
              4</button>
              <button type="button" id="testBtnDown" class="btn btn-success glyphicon glyphicon-thumbs-down" data-loading-text=" ... ">
              4</button>
            </div>
        </div><br><br>
    </div>
  </div>
  <% end %>

<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Add courses ', courses_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
