
<header class="navbar navbar-fixed-top navbar-inverse" id = "menubar">
  <div class="container">
    <%= link_to "yourcourse", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">


        <li class="dropdown" id = "menuselection">
          <a href= "#" class="dropdown-toggle" data-toggle="dropdown">
              <span class = "glyphicon glyphicon-education" id=whiteicons></span>
            Categories <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Web Developement", "#"%></li>
            <li><%= link_to "Java", '#' %></li>
            <li><%= link_to "Full Stack Dev", '#' %></li>
            <li><%= link_to "iOS Engineering", '#' %></li>
            <li class="divider"></li>
          </ul>
        </li>


        <li class="dropdown" id = "menuselection">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class = "glyphicon glyphicon-education" id=whiteicons></span>
            Locations <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "14.10.31", '#'%></li>
            <li><%= link_to "14.08.26", '#' %></li>
            <li><%= link_to "14.08.30", '#' %></li>
            <li class="divider"></li>
          </ul>
        </li>


       <% if logged_in? %>

            <li id = "menuselection"><%= link_to "New Course", login_path %> </li>

          <li class="dropdown" id = "menuselection">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class = "glyphicon glyphicon-education" id=whiteicons></span>
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" id = "menuselection">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>


          <li id = "menuselection"><%= link_to "Log In", login_path %> </li>

        <% end %>




      </ul>
      </nav>
      </div>
      </header>
